.product-card{
    width: 400px;
    flex-wrap: wrap;
    background-color: white;
    /* height: 200px; */
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.5);
}

.product-card,.card-image,.card__overlay{
    border-radius: 20px;
}

.card-image{
    display: block;
    width: 100%;
    height: auto;
}










.card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    visibility: none;
    transition: 1s ease;
    background-color: #3938399a;
    opacity: 1;

  }
  
  .card:hover .card__overlay {
    opacity: 0;
  }
  
  .overlay__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  